<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="AccessToken" value="Enter here the telegrambot api key" />
      <add key="BotName" value="Emily" />
      <add key="FilterUsers" value="true"/>
      <!-- separate usernames using ; -->
      <add key="AllowedUsers" value="username"/>

      <!-- Add namespace with extra commands -->
      <add key="ExpressionAssembly" value="My.Namespace, Assembly"/>
    </appSettings>
</configuration>